#!/usr/bin/perl -w

my $config
    = {
       # fill in the filenames of the scripts that depend on keyword
       # expansion.  Keyword expansion is easy to configure.  Take a
       # look at the contents of those files and look how the keywords
       # defined in the next section are expanded.

       files => [
		 './Makefile.am',
		 './bin/neuron-parser',
		 './configure.ac',
		 './python/neurospaces/__cbi__.py',
		 './install/rpm/neuron-parser.spec',
		 './tests.config',
		],

       # fill in the keywords and there expansion.  For instance,
       # component should be expanded to the name of your component.

       labels => {
		  email => 'hugo.cornelis@gmail.com',
		  label => 'alpha',
		  major => '0',
		  minor => '0',
		  micro => '0',
		  monotone_id => `(test -d _MTN && ((mtn automate get_current_revision_id | perl -pe 's/\n//g') && false) || echo '_MTN not found')`,
		  component => 'neuron-parser',
		 },
      };

return $config;

